<!doctype html>
<html ng-app="xy">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Xypic Editor by n-kats</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
	<script src="javascripts/MathJaxConfig.js"></script>
	<script src="javascripts/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
	<script src="javascripts/xypic.js"></script>
	<script src="javascripts/xygen.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Xypic Editor</h1>
        <p>xypic editor</p>

        <p class="view"><a href="https://github.com/n-kats/xypic-editor">View the Project on GitHub <small>n-kats/xypic-editor</small></a></p>


        <ul>
          <li><a href="https://github.com/n-kats/xypic-editor/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/n-kats/xypic-editor/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/n-kats/xypic-editor">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h1>
<a id="xypic-editor" class="anchor" href="#xypic-editor" aria-hidden="true"><span class="octicon octicon-link"></span></a>xypic-editor</h1>

<p>xypic editor</p>

<div>
<table>
	<tr>
		<td><input type="text" id="a00"></td>
		<td><input type="text" id="a01"></td>
		<td><input type="text" id="a02"></td>
	</tr>

	<tr>
		<td><input type="text" id="a10"></td>
		<td><input type="text" id="a11"></td>
		<td><input type="text" id="a12"></td>
	</tr>

	<tr>
		<td><input type="text" id="a20"></td>
		<td><input type="text" id="a21"></td>
		<td><input type="text" id="a22"></td>
	</tr>
</table>
<input id="btn" type="button" value="update">
<h2>edge(not implemented)</h2>
<div ng-controller="edgeCtrl as ar">
	<form ng-controller="newEdgeCtrl as edge" ng-submit="ar.add(edge)" novalidate>
		<input ng-model="edge.from" id="from" type="text" placeholder="from :: example : 01" required>
		<input ng-model="edge.to" id="to" type="text" placeholder="to :: example : 12" required>
		<input ng-model="edge.type" id="type" type="text" placeholder="command :: example : ^{f^*}">
		<input id="btne" type="submit" value="add-edge">
	</form>
</div>

<div id="d">
\[

\xymatrix{
	00 & 01 & 02 \\
	10 & 11 \ar[u]_h & 12 \\
	20 \ar[rr]_{\varphi_{ji}} \ar[ruu]^{f_i} \ar[ru]_{\varphi} & 21 & 22 \ar[luu]_{f_i} \ar[lu]^{\varphi_j} \\
}
\]
</div>

</div>

	 
	  </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/n-kats">n-kats</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
<script>
var xy = new xyelm(3,3);

$("#btn").on("click", function(){
		for(var i=0;i<3;i++){
			for(var j=0;j<3;j++){
				xy.setVertex(new vertex(i,j, $("#a"+i.toString()+j.toString()).val()));
			}
		}
		$("#d").html(xy.build());
		MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
		});

</script>


	<script src="javascripts/app.js"></script>

  </body>
</html>
